<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556673019586-2fv6q64095fd2tsoqnu4kqfooad0uk96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556673019586-2fv6q64095fd2tsoqnu4kqfooad0uk96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556673019586-4dvfpnn5kt7skllahpers5st9p52vi8v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6-AvR1VJkUgDC1c145j-PEYHM-JU7ykY</string>
	<key>GCM_SENDER_ID</key>
	<string>556673019586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perspective.captionapp</string>
	<key>PROJECT_ID</key>
	<string>captions-7f095</string>
	<key>STORAGE_BUCKET</key>
	<string>captions-7f095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556673019586:ios:f4710fa9fae84107e4d55b</string>
	<key>DATABASE_URL</key>
	<string>https://captions-7f095-default-rtdb.firebaseio.com</string>
</dict>
</plist>